@use '../abstracts/' as *;

.header__container {
  height: 8.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  @include maxQ(medium) {
    display: none;
  }
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__item {
  cursor: pointer;
  display: block;

  @extend %transition;

  &:hover,
  &:active {
    background-color: $primary-gray;
    color: $primary-white;
  }
}

.nav__link {
  display: block;
  padding: 3.45rem;

  font-family: $font-sans;
  @include font(1.4rem, 1.6rem, 400);
  text-transform: capitalize;

  scroll-behavior: smooth;
}

.header__buttons {
  display: flex;
  justify-content: space-between;
  gap: 2.3rem;
}

.header__button {
  cursor: pointer;
  width: 18px;
  height: 16px;

  &:hover,
  &:active {
    filter: saturate(100%) brightness(0) invert(92%) sepia(7%) saturate(2695%)
      hue-rotate(313deg) brightness(93%) contrast(77%);
  }
}
