@use '../abstracts/' as *;

.collection__container {
  max-height: 768px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  overflow: hidden;

  @include maxQ(medium) {
    flex-direction: column;
    align-items: center;
  }
}

.collection__gradient-1 {
  height: 100%;
  position: absolute;
  z-index: -100;
  left: 50%;
  transform: translateX(-44%);

  @include maxQ(medium) {
    display: none;
  }
}

.poster__watch-main {
  margin-top: 2rem;
  max-height: 750px;
  max-width: 100%;
  height: auto;

  @include maxQ(medium) {
    max-height: 350px;
  }
}

.collection__info {
  margin-left: 8.3rem;

  @include maxQ(medium) {
    margin-left: 0;
    text-align: center;
  }
}

.collection__info.info {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include maxQ(medium) {
    align-items: center;
    text-align: center;
  }
}

.info__title {
  position: relative;

  font-family: $font-serif;
  @include font(4.5rem, 6rem, 400);

  &:before {
    background-color: #8b8371;
    content: '';
    width: 5rem;
    height: 1px;

    position: absolute;
    top: 3.5rem;
    transform: translateX(-125%);
  }

  @include maxQ(medium) {
    @include font(3.5rem, 4rem, 400);
    text-align: center;

    &:before {
      display: none;
    }
  }
}

.info__extra-title {
  font-family: $font-serif;
  @include font(3rem, 4rem, 400);

  @include maxQ(medium) {
    text-align: center;
  }
}

.info__about {
  margin-top: 2.5rem;
  margin-bottom: 4.5rem;

  font-family: $font-sans;
  @include font(1.4rem, 2.1rem, 300);
}

.collection__poster {
  position: relative;
  margin-right: 14rem;

  @include maxQ(medium) {
    margin-right: 0;
  }
}

.price__container {
  display: flex;
  align-items: center;
  gap: 1rem;

  @include maxQ(small) {
    display: none;
  }
}

.poster__price {
  position: absolute;
  top: 20%;
  left: -35%;

  &:after {
    background-color: #8b8371;
    content: '';
    width: 5rem;
    height: 1px;

    position: absolute;
    top: 0.8rem;
    transform: translateX(180%);
  }

  @include maxQ(medium) {
    left: -50%;
  }
}

.price__amount {
  color: $primary-black;
  font-family: $font-prata;
  @include font(1.6rem, 2.2rem, 400);
}

.price__symbol {
  margin-bottom: 0.45rem;
}

.poster__diameter {
  position: absolute;
  right: -30%;
  bottom: 15%;

  color: $primary-black;
  font-family: $font-prata;
  @include font(1.6rem, 2.2rem, 400);

  &:before {
    background-color: #8b8371;
    content: '';
    width: 5rem;
    height: 1px;

    position: absolute;
    top: 0.8rem;
    transform: translateX(-130%);

    @include maxQ(medium) {
      transform: translateX(-130%);
    }
  }

  @include maxQ(medium) {
    right: -70%;
  }

  @include maxQ(small) {
    display: none;
  }
}

// popular-models
.popular-models {
  background-color: #ffffff;
}

.popular-models__container {
  position: relative;
  padding-bottom: 8.3rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.popular-models__title {
  margin: 0 auto;
  margin-top: 7.5rem;
  margin-bottom: 5rem;

  color: $primary-black;
  font-family: $font-serif;
  @include font(3.2rem, 4.3rem, 400);

  @include maxQ(medium) {
    text-align: center;
  }
}

.popular-models__all-button {
  position: absolute;
  top: 16%;
  right: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $primary-black;

  color: $primary-black;
  font-family: $font-sans;
  @include font(1.6rem, 1rem, 400);

  @extend %transition;
  &:hover,
  &:active {
    color: $primary-red;
    border-bottom: 1px solid $primary-red;
  }

  @include maxQ(medium) {
    top: 9%;
    right: 15%;
  }

  @include maxQ(xSmall) {
    top: 12%;
    right: 50%;
    transform: translateX(50%);
  }
}

.watch-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2.6rem;

  @include maxQ(medium) {
    flex-direction: column;
    align-items: center;
  }
}

.watch-card {
  background-image: url('../images/icons/watch_card_background.png');
  background-position: center;
  height: 470px;
  width: 100%;
  max-width: 37rem;
  padding: 3.2rem 0 4rem 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include maxQ(large) {
    height: auto;
    background-position: right;
  }
}

.watch-card__title {
  padding-left: 4rem;
  align-self: flex-start;

  color: $primary-black;
  font-family: $font-serif;
  @include font(1.4rem, 2.4rem, 700);
  letter-spacing: 0.03em;
}

.watch-card__price {
  margin-top: 0;
  margin-bottom: auto;
  padding-left: 4rem;
  align-self: flex-start;

  & > .price__amount {
    color: $primary-black;
    font-family: $font-prata;
    @include font(1.2rem, 1.6rem, 400);
  }
}

.watch-card__poster {
  height: auto;
  width: 200px;
  max-width: 100%;
}

.watch-card__more-info {
  margin-top: auto;
  margin-bottom: 0;
  position: relative;
  padding-left: 8.8rem;
  align-self: flex-start;

  color: $primary-black;
  font-family: $font-serif;
  @include font(1.6rem, 2.1rem, 400);

  @extend %transition;
  cursor: pointer;

  &:before {
    background-color: #8b8371;
    content: '';
    width: 3rem;
    height: 1px;

    position: absolute;
    top: 1rem;
    transform: translateX(-130%);
  }

  &:hover,
  &:active {
    color: $primary-red;

    &:before {
      background-color: $primary-red;
    }
  }
}

// quality section
.quality {
  background: rgb(247, 245, 239);
  background: linear-gradient(
    90deg,
    rgba(247, 245, 239, 1) 0%,
    rgba(247, 245, 239, 0) 100%
  );
}

.quality__container {
  background: url('../images/icons/quality__ellipse.png');
  background-position: right;
  background-repeat: no-repeat;

  padding-top: 5.2rem;
  padding-bottom: 2.1rem;
  display: flex;
  align-items: center;

  @include maxQ(medium) {
    flex-direction: column;
  }
}

.quality__poster {
  margin: 0 7rem 0 8rem;

  @include maxQ(small) {
    margin: 0;
  }
}

.poster__image {
  height: 100%;
  width: auto;
  max-width: 520px;

  @include maxQ(medium) {
    max-width: 280px;
  }
}

.poster__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.poster__select {
  margin-right: 8rem;
  display: flex;
  align-items: center;
  align-self: flex-end;

  color: $primary-black;
  font-family: $font-prata;
  @include font(1.2rem, 2rem, 400);

  @include maxQ(small) {
    margin: 0 auto;
  }
}

.select__left,
.select__right {
  @extend %transition;
  cursor: pointer;

  @include font(2rem, 2rem, 400);

  &:hover,
  &:active {
    color: $primary-red;
  }
}

.select__left {
  margin-right: 2rem;
}

.select__right {
  margin-left: 2rem;
}

.quality__info.info {
  @extend %flexcolumn;

  @include maxQ(small) {
    text-align: center;
    align-items: center;
    max-width: 38rem;
  }
}

.quality__info {
  margin-bottom: 4rem;
}

// social

.social__container {
  padding-top: 7rem;
  padding-bottom: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include maxQ(medium) {
    flex-direction: column;
    gap: 10rem;
  }
}

.social__info.info {
  display: flex;
  flex-direction: column;
  max-width: 470px;
  height: 25rem;

  margin-top: 7rem;

  @include maxQ(small) {
    text-align: center;
  }
}

.info__social-links.social-links {
  margin-top: auto;
  margin-bottom: 0;
}

.social-links {
  max-width: 9.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include maxQ(small) {
    align-self: center;
    gap: 2rem;
  }
}

.grid-galery {
  width: 63rem;
  height: 46rem;
  display: grid;
  grid-template-columns: 1.65fr 2.5fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  gap: 1rem;

  & > div {
    height: 100%;
    width: auto;
    background-size: cover;
  }

  @include maxQ(medium) {
    width: 37rem;
    height: 27.5rem;
  }

  @include maxQ(small) {
    width: 30rem;
    height: 20.5rem;
  }
}
.grid-galery__item-1 {
  background: url('../images/icons/grid_galery_1.png');
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.grid-galery__item-2 {
  background: url('../images/icons/grid_galery_2.png');
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.grid-galery__item-3 {
  background: url('../images/icons/grid_galery_3.png');
  grid-column: 2;
  grid-row: 1 / 3;
}
