@use '../abstracts/' as *;

.nav {
  font-family: $font-sans;
  @include font(1.4rem, 1.6rem, 400);
  text-transform: capitalize;
}
.nav__list {
  display: flex;
  justify-content: center;
}

.nav__item {
  cursor: pointer;
  display: block;

  @extend %transition;

  &:hover,
  &:active {
    background-color: $primary-green;
    color: $primary-white;
  }

  @include maxQ(small) {
    &:hover,
    &:active {
      background-color: transparent;
      color: $primary-green;
    }
  }
}

.nav__link {
  display: block;
  padding: 1.7rem 1.5rem 1.6rem 1.6rem;

  scroll-behavior: smooth;
}
